<h1>Open position List</h1>
<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>BuyDate</th>
            <th>Quantity</th>
            <th>Purchase</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.openPositions)
        {
        <tr data-id="@item.Id">
            <td>@item.Symbol</td>
            <td>@item.BuyDate</td>
            <td>@item.Quantity</td>
            <td>@item.Purchase</td>
            <td>@item.Cost</td>
        </tr>
        }
    </tbody>
</table>