@if (resultTable != null)
{
    <table class="LongTrendTable table table-inner-bordered table-hover">
        <thead>
            <tr>
                <th class="border-0"></th>
                @{ int lastYear = 0; }
                @foreach (var head in resultTable.Header.Reverse())
                {
                    <th class="border-0">@if (head.Year != lastYear) { @head.Year }</th>
                    lastYear = head.Year;
                }
                <th class="border-0"></th>
            </tr>
            <tr>
                <th>Symbol</th>
                @foreach (var head in resultTable.Header.Reverse())
                {
                    <th>@head.ToString("MMM")</th>
                }
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in resultTable.Rows.Take(100))
            {
                <tr>
                    <td>@item.Symbol</td>
                    @foreach (var percentage in item.Percentages.Reverse())
                    {
                        <td class="@UpDownColor(percentage)">@percentage?.ToString("P1")</td>
                    }
                    <td>@item.Score</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        Loading . . .
    </div>
}